* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

#container {
  height: 100%;
  display: flex;
  flex: 1;
  background-color: #fff;
  
}
.floors {
  width: 10%;
}
.floors:nth-child(odd){
    color: rgb(255, 255, 255);
}


.title {
  margin-bottom: 25px;
  font-size: 15px;
  color: #000;
  font-weight: 900;
  height: 35px;
  text-align: center;
  line-height: 25px;
}
.imageCostumer {
  width: 95%;
  margin: auto;
  height: 30px ;
}

.numberRoom {
  color: #fff;
  text-align: center;
  background-color: rgb(117, 117, 117);
  border-radius: 1em;
  width: 50%;
  font-size: small;
  display: block;
  margin: auto;
}