@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Roboto', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.blue {
  background: rgb(9, 87, 160);
}
.darkblue {
  background: rgb(3, 5, 104);
}

#container {
  height: 100%;
  display: flex;
  flex: 1;
  background-color: #fff;
  
}
.floors {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.floors:nth-child(odd){
    color: rgb(255, 255, 255);
}

.title {
  padding-bottom: 13px;
  width: 100%;
  font-size: 20px;
  color: #fff;
  font-weight: 900;
  height: 45px;
  text-align: center;
  line-height: 45px;
}

.imageCostumer {
  width: 70%;
  height: 5%;
}

.numberRoom {
  color: #fff;
  text-align: center;
  background-color: rgb(117, 117, 117);
  border-radius: 1em;
  width: 50%;
  font-size: small;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 599px){
  .floors {
    width: 411px;
  }
  .imageCostumer {
    width: 60%;
  }
  .numberRoom {
    width: 30%;
  }
}
