* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

ul {
    background-color: #000;
    width: 150px;
    height: 100%;
    margin-left: 2px ;
}

li {
    background-color: rgb(15, 3, 70);
    display: block;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
p {
    color: #fff;
    width: 100%;
    text-align: center;
}
img { 
    width: 100%;
    height: 64px;
}