@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

html, body, #root, .containerLogin {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--primary-background-color);
    flex: 1;
}


.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#box-login {
    width: 500px;
    height: 50%;
    background-color: rgba(218, 217, 236, 0);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
header {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    color: rgb(6, 2, 66);
}
h2 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid #000;
}
main {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
input {
    height: 40px;
    width: 90%;
    margin-top: 20px;
    border-radius: 0.3em;  
    border: 0.5px solid var(--inputs-border-color); 
}
#area-buttons {
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
button {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    background-color: var(--button-background-color) ;
    color: #fff;
    cursor: pointer;
    margin-left: 24px;
}

a {
    text-decoration: none;
}

span {
    color: var(--text-sidebar-color);
    font-size: small;
}

@media only screen and (max-width: 599px){
    #box-login {
        width: 100%;
    }
   
}

