  .containerWeather {
  position: absolute;
  width: 15.6%;
  min-width: 245.52px;
  height: 434px;
  right: 0px;
  bottom: 0px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.containerWeather .item-list {
  display: flex;
  justify-content: space-between;

}
.containerWeather .item-list p {
  font-family: 'Roboto',sans-serif;
}

.containerWeather .item-list img {
  object-fit: scale-down;
}
