
.contianerDeleteUser {
    flex: 1;
    height: 100%;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-left: 20px;
}

.contianerDeleteUser h2 { 
    text-align: start;
}

.contianerDeleteUser div {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.contianerDeleteUser div  {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 600px){
    .contianerDeleteUser div button {
      margin: 0px;  
    }
    .contianerDeleteUser {
        width: 100%;
    }
}
