.containerPrice {
    width: 100%;
    height: 90%;
}
.containerPrice {
    height: 110px !important;
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
}
.containerPrice p{ 
    margin-top: 5px;
    font-size: small;
}
.containerPrice h2 {
    color: #000;
    margin-top: 14px;
}
.containerPrice div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.high {
    color: rgb(175, 4, 4);
}
.low {
    color: rgb(13, 126, 18);
}