.contianerUpdateRoom {
    flex: 1;
    height: 100%;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
 

}
.contianerUpdateRoom h2 {
    text-align: center;
    margin-top: 40px;
}
.contianerUpdateRoom div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.contianerUpdateRoom div button {
    width: 90%;
}

@media only screen and (max-width: 600px){
    .contianerUpdateRoom  div button {
      margin: 0px;  
    }
    .contianerUpdateRoom  {
        width: 100%;
    }
}