.containerHours {
  width: 100%;
  background-color: var(--primary-background-color);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  border-radius: 10px 0px 0px 180px ;
}
.containerHours h3 {
  font-family: 'Roboto',sans-serif;
  color: #fff;
  font-size: 15;
}

.containerHours p {
  font-family: 'Roboto',sans-serif;
  color: #fff;
  font-size: 15;
  text-align: center;
  width: 100%;
  font-size: larger;

} 
.containerHours p:nth-child(3){
  text-align: right;
  padding-right: 10px;

}