
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  
  #root {
    margin-top: 10px;
  }
  ul {
    height: 910px;
    width: 122px;
    border-right:1px solid #fff ;
    background-color: black;
    border-left: 1px solid ;
  }
  ul:nth-child(odd) {
    background-color: rgb(250, 250, 250);
  }
  ul:nth-child(even) {
    background-color: rgb(246, 246, 246);
  }
  li {
    text-align: center;
    display: block;
    color: #000;
    font-size: 20px;
    margin-bottom: 5px;
  }
  img {
    width: 90%;
    height: 8%;
    max-height: 45px;
  }
  .title {
    border-bottom: 1px solid #fff;
    height: 30px;
    color: #000;
    font-weight: bold;
    font-size: 20px;
  }
  