@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Roboto', sans-serif;
}

html, body, #root, #container  {
  height:100%;
  width: 100%;
  overflow-x: visible;

}

.blue {
  background: rgb(9, 87, 160);
}
.darkblue {
  background: rgb(3, 5, 104);
}

#container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  overflow: auto;
  
}
.floors {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-bottom: 13px;
  width: 100%;
  font-size: 20px;
  color: #fff;
  font-weight: 900;
  height: 45px;
  text-align: center;
  line-height: 45px;
}

.imageCostumer {
  width: 130px;
  height: 60px;
  margin-bottom: 5px;
  image-resolution: 300dpi;
}
.numberCostumer {
  color: rgb(9, 0, 78);
  font-weight: 600;
}

.containerRoom {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 5px 5px;
}


@media only screen and (max-width: 599px){
  .floors {
    width: 411px;
  }
  .imageCostumer {
    width: 60%;
  }
  .numberRoom {
    width: 30%;
  }
  .containerWeather {
      display: none;
  }
}
