.contianerCreateUser {
    flex: 1;
    margin: auto;
    width: 600px;
    height: 100%;
    display: flex;
    align-items:center ;
    flex-direction: column;
    padding-top: 40px;  
 }

.inputs {
    border: 0.1px solid .000;
    border-width: 1px;
    border-style: solid;
    border-color: var(--inputs-border-color);
    color: .000;
}

.primary-color {
    width: 90%;
    text-align: start;
    border: none;

}
.contianerCreateUser div {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#verify {
    color: rgb(18, 141, 6);
}
#incorret {
    color: rgb(136, 12, 12);
}
.options-admin {
    margin: 13px;
    width: 90%;
    height: 25px;
}

@media only screen and (max-width: 599px){
    .contianerCreateUser div button {
      margin: 0px;  
    }
}