:root{
    --primary-background-color: #076963;
    --actionalert-background-color: rgb(0, 87, 3);
    --button-background-color: #010b3d;
    --inputs-border-color: rgb(144, 144, 144);
    --sidebar-background-color: #fff;
    --primary-text-color: rgb(2, 1, 59);
    --main-background-color: rgb(251, 251, 251);
    --icons-sidebar-color: rgb(109, 109, 109) ;
    --icons-navebar-color:#fff;
    --hover-item-sidebar-color:rgba(221, 221, 221, 0.727);
    --text-sidebar-color: rgb(109, 109, 109);
    --navbar-background-color: rgb(2, 94, 80);
    --zoom-page-view: 90%
}

